body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(147, 33, 296, 0.291);
}

.border{
  border-color: black;
  border-width: 10px;
  
}

.font-size-xs { font-size: 10px; }
.font-size-sm { font-size: 12px; }
.font-size-md { font-size: 14px; }
.font-size-lg { font-size: 16px; }
.font-size-xl { font-size: 18px; }



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
